{{ form_row(form.operators) }}
<ul class="polycollection{% if (class) %} {{class}}{% endif %}" data-prototype="<li class='polycollection-item'><div class='polycollection-fold'>Fold</div><div class='polycollection-remove'>Remove</div><div class='polycollection-item-title'>__TITLE__</div><div class='polycollection-item-details'>__ITEM__</div></li>"></ul>
